# Análisis de segmentos posteriores a fase 2

Este cuaderno aborda dos tareas sobre los hipnogramas (**scor_clean**):

1. **Segmentos previos a la salida de fase 2**: contar cuántas épocas consecutivas en fase 2 aparecen inmediatamente después de cada transición proveniente de cualquier fase distinta de 2.
2. **Segmentos en la fase destino**: medir cuánto dura la fase destino justo después de salir de una fase 2, diferenciando cada tipo de transición `2 → X`.

Todos los resultados se generan por paciente y también sobre el conjunto agregado de pacientes, sin utilizar gráficas para mantener la interpretación simple.

## Plan general

1. Importar utilidades y definir rutas.
2. Cargar hipnogramas (**scor_clean**) para cada paciente con archivo **_2**.
3. Para cada paciente:
   - Detectar todas las transiciones **no-2 → 2** y medir la longitud del bloque continuo de 2.
   - Guardar las longitudes en un vector y resumir las frecuencias.
4. Para cada transición **2 → X**, medir cuánto tiempo permanece la nueva fase **X** inmediatamente después de salir de fase 2.
5. Repetir los pasos anteriores de forma agregada con todos los pacientes.
6. Mostrar tablas y estadísticas descriptivas.

In [7]:
from pathlib import Path
from collections import defaultdict

import numpy as np
import pandas as pd
from IPython.display import display

RUTA_DATOS = Path("../Datos")
ETIQUETAS_FASES = {
    0: "Vigilia (W)",
    1: "N1",
    2: "N2",
    3: "N3",
    4: "N4",
    5: "REM",
    6: "Movimiento",
    7: "Sin clasificar"
}

pd.options.display.float_format = lambda x: f"{x:0.3f}"

## Utilidades de carga de hipnogramas

In [8]:
def listar_pacientes(ruta_datos=None):
    if ruta_datos is None:
        ruta_datos = RUTA_DATOS
    pacientes = []
    for archivo in ruta_datos.iterdir():
        nombre = archivo.name
        if archivo.is_file() and nombre.startswith("Scoring_") and nombre.endswith("_2"):
            pacientes.append(nombre.replace("Scoring_", ""))
    pacientes.sort()
    if not pacientes:
        raise RuntimeError("No se encontraron archivos `Scoring_*_2` en la ruta indicada.")
    return pacientes


def cargar_hipnograma(paciente, ruta_datos=None):
    if ruta_datos is None:
        ruta_datos = RUTA_DATOS
    ruta_archivo = ruta_datos / f"Scoring_{paciente}"
    df = pd.read_csv(ruta_archivo, sep=r"\s+", header=None, names=["epoca", "scor_clean", "scor_quasi"], dtype=int)
    return df["scor_clean"].tolist()


pacientes = listar_pacientes()
print(f"Pacientes detectados ({len(pacientes)}): {', '.join(pacientes)}")

Pacientes detectados (10): AR_2, DG_2, EL_2, GA_2, IN_2, JS_2, LL_2, SS_2, VB_2, VC_2

## Tarea 1 — Longitudes de fase 2 tras transiciones **no-2 → 2**

Para cada paciente:
- Revisamos la secuencia **scor_clean** y, cada vez que aparezca un bloque de 2 precedido por una fase diferente de 2, medimos cuántas épocas consecutivas dura ese bloque.
- Guardamos todas las longitudes en un vector y presentamos una tabla de frecuencias para interpretar los tamaños más comunes.
- El mismo análisis se repite con todos los pacientes concatenados para obtener la distribución global.

In [9]:
def extraer_segmentos_fase2(secuencia):
    longitudes = []
    for indice in range(1, len(secuencia)):
        if secuencia[indice] == 2 and secuencia[indice - 1] != 2:
            longitud = 1
            cursor = indice + 1
            while cursor < len(secuencia) and secuencia[cursor] == 2:
                longitud += 1
                cursor += 1
            longitudes.append(longitud)
    return longitudes


def resumen_longitudes(longitudes):
    if not longitudes:
        return pd.DataFrame(columns=["Longitud", "Frecuencia", "Porcentaje"])
    serie = pd.Series(longitudes)
    conteo = serie.value_counts().sort_index()
    porcentaje = (conteo / conteo.sum()).rename("Porcentaje")
    tabla = pd.concat([conteo.rename("Frecuencia"), porcentaje], axis=1)
    tabla.index.name = "Longitud"
    return tabla.reset_index()


segmentos_fase2_por_paciente = {}
for paciente in pacientes:
    hipnograma = cargar_hipnograma(paciente)
    segmentos = extraer_segmentos_fase2(hipnograma)
    segmentos_fase2_por_paciente[paciente] = segmentos
    print(f"\nPaciente {paciente} — segmentos detectados: {len(segmentos)}")
    tabla = resumen_longitudes(segmentos)
    display(tabla.style.hide(axis="index"))

Paciente AR_2 — segmentos detectados: 46

Paciente DG_2 — segmentos detectados: 57

Paciente EL_2 — segmentos detectados: 52

Paciente GA_2 — segmentos detectados: 34

Paciente IN_2 — segmentos detectados: 54

Paciente JS_2 — segmentos detectados: 63

Paciente LL_2 — segmentos detectados: 71

Paciente SS_2 — segmentos detectados: 49

Paciente VB_2 — segmentos detectados: 41

Paciente VC_2 — segmentos detectados: 37

In [10]:
segmentos_globales = [longitud for lista in segmentos_fase2_por_paciente.values() for longitud in lista]
print(f"\nTotal de segmentos `no-2 → 2` en todos los pacientes: {len(segmentos_globales)}")
tabla_global = resumen_longitudes(segmentos_globales)
display(tabla_global.style.hide(axis="index"))

Total de segmentos `no-2 → 2` en todos los pacientes: 504

## Tarea 2 — Duración de la fase destino tras la salida de fase 2

Objetivo: después de medir cuánto dura cada bloque en fase 2, ahora observamos a qué fase se transita y cuánto tiempo dura esa nueva fase inmediatamente después del cambio.

Para cada transición **2 → X**:
- Identificamos la fase destino **X**.
- Medimos la longitud continua del bloque **X** inmediatamente posterior.
- Guardamos las longitudes en un diccionario **fase destino → [segmentos]**.

La salida consiste en tablas por paciente y un resumen global con estadísticas básicas para cada fase destino.

In [11]:
def extraer_segmentos_destino(secuencia):
    segmentos_por_destino = defaultdict(list)
    indice = 0
    while indice < len(secuencia):
        if secuencia[indice] != 2:
            indice += 1
            continue
        # Entramos a un bloque de 2
        inicio = indice
        while indice < len(secuencia) and secuencia[indice] == 2:
            indice += 1
        fin = indice  # primer índice distinto de 2 después del bloque
        if fin >= len(secuencia):
            break  # no hay destino porque el hipnograma terminó en 2
        destino = secuencia[fin]
        longitud_destino = 1
        cursor = fin + 1
        while cursor < len(secuencia) and secuencia[cursor] == destino:
            longitud_destino += 1
            cursor += 1
        segmentos_por_destino[destino].append(longitud_destino)
        indice = fin  # continuar a partir de la fase destino
    return segmentos_por_destino


def resumen_destinos(segmentos_por_destino):
    filas = []
    for destino, longitudes in sorted(segmentos_por_destino.items()):
        if not longitudes:
            continue
        serie = pd.Series(longitudes)
        filas.append({
            "Fase destino": destino,
            "Etiqueta": ETIQUETAS_FASES.get(destino, str(destino)),
            "Segmentos": len(longitudes),
            "Promedio": serie.mean(),
            "Mínimo": serie.min(),
            "Máximo": serie.max()
        })
    columnas = ["Fase destino", "Etiqueta", "Segmentos", "Promedio", "Mínimo", "Máximo"]
    return pd.DataFrame(filas, columns=columnas)


segmentos_destino_por_paciente = {}
for paciente in pacientes:
    hipnograma = cargar_hipnograma(paciente)
    destinos = extraer_segmentos_destino(hipnograma)
    segmentos_destino_por_paciente[paciente] = destinos
    print(f"\nPaciente {paciente} — transiciones 2 → X detectadas: {sum(len(v) for v in destinos.values())}")
    tabla_destino = resumen_destinos(destinos)
    display(tabla_destino.style.hide(axis="index"))

Paciente AR_2 — transiciones 2 → X detectadas: 46

Paciente DG_2 — transiciones 2 → X detectadas: 57

Paciente EL_2 — transiciones 2 → X detectadas: 52

Paciente GA_2 — transiciones 2 → X detectadas: 34

Paciente IN_2 — transiciones 2 → X detectadas: 54

Paciente JS_2 — transiciones 2 → X detectadas: 64

Paciente LL_2 — transiciones 2 → X detectadas: 71

Paciente SS_2 — transiciones 2 → X detectadas: 49

Paciente VB_2 — transiciones 2 → X detectadas: 41

Paciente VC_2 — transiciones 2 → X detectadas: 37

In [12]:
segmentos_destino_global = defaultdict(list)
for destinos in segmentos_destino_por_paciente.values():
    for fase_destino, longitudes in destinos.items():
        segmentos_destino_global[fase_destino].extend(longitudes)

print("\nResumen global de fases destino después de salir de 2:")
tabla_destino_global = resumen_destinos(segmentos_destino_global)
display(tabla_destino_global.style.hide(axis="index"))

Resumen global de fases destino después de salir de 2:

### Datos preparados para análisis posterior

- **segmentos_fase2_por_paciente**: diccionario **paciente → lista de longitudes** con las duraciones de fase 2 posteriores a cada transición **no-2 → 2**.
- **segmentos_globales**: vector con todas las longitudes anteriores combinadas.
- **segmentos_destino_por_paciente**: diccionario **paciente → {fase destino → lista de longitudes}** que describe cuánto tiempo dura cada fase destino tras salir de fase 2.
- **segmentos_destino_global**: agregación de las mismas transiciones para todos los pacientes.

Estos vectores podrán alimentar visualizaciones (box plots) o filtros sobre n-gramas específicos en siguientes iteraciones.